doctype html
html(ng-app='productsModule')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title
		link(rel='stylesheet', href='styles/css/style.css')
		link(rel='stylesheet', href='styles/css/libs.css')
		base(href="/")
	body
		main
			.container(ng-view)
		script(src='javascripts/libs.js')
		script(src='javascripts/main.js')




