//- div(ng-controller='productsCtrl as products')
//- 	.list-group
//- 		a.list-group-item.active(href='#')
//- 			h4.list-group-item-heading List group item heading
//- 			p.list-group-item-text ...
//- 		a.list-group-item.active(href='#')
//- 			h4.list-group-item-heading List group item heading
//- 			p.list-group-item-text ...
//- 		a.list-group-item.active(href='#')
//- 			h4.list-group-item-heading List group item heading
//- 			p.list-group-item-text ...
//- 		a.list-group-item.active(href='#')
//- 			h4.list-group-item-heading List group item heading
//- 			p.list-group-item-text ...
//- 		a.list-group-item.active(href='#')
//- 			h4.list-group-item-heading List group item heading
//- 			p.list-group-item-text ...
