.containerLogin
	width:100%
	height:900px
	display: flex
	justify-content:center
	align-items:center
.login
	width:500px
.logout
	overflow: hidden
	margin-bottom:50px 
.toProducts
	float: right 

.flaxContainer
	display: flex
	justify-content:flex-start
	align-items: flex-start
.producutIdem
	width: 400px
	// height:200px

.imgClass
	height: 120px
	
.date
	float: right !important
	

.productList
	// display: block  
	overflow: hidden
	margin-bottom:20px !important
.submit
	float: right 
.textarea
	width:100%

.title
	margin-top: 0px
	margin-bottom: 20px

